html
  head
    title Concord Log Puller
    include portal-report-style.pug
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/solid.css', integrity='sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css', integrity='sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT', crossorigin='anonymous')
  body
    .header Concord Log Puller
    .workspace
      form(method='post')
        if !json || !signature
          p.note
            | If you are seeing this note you are either a developer testing this form or have not reached this page
            | using the report portal.  If you are not testing this page please return to the report portal
            | and use the "Download Portal Report" button to properly set the needed parameters.
          p
            label(for='json') For testing: JSON Query from Portal
            textarea(name='json')= json
          p
            label(for='signature') For testing: HMAC Signature from Portal
            input(type='text', name='signature', value=signature)
        else
          input(type='hidden', name='json', value=json)
          input(type='hidden', name='signature', value=signature)
        p
          label(for='format') Format
          input(type='radio', name='format', value='json', checked=1)
          | JSON
          input(type='radio', name='format', value='csv')
          | CSV
        p
          label(for='explode') Expand Parameters and Extras in CSV
          input(type='radio', name='explode', value='no', checked=1)
          | No
          input(type='radio', name='explode', value='yes')
          | Yes
        p.buttons
          input(type='submit', name='download', value='Download Logs')
          if allowDebug
            input(type='submit', name='debug', value='Debug Query')
          span#count-btn-container
            input(type='submit', name='count', value='Count Logs')
        p
          span.warning #{count_logs_warning}
        p#debug-info

        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script
          include button-handlers.js
